<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="post" action="/product/add-product">
        <label>
            name:
            <input type="text" name="name"/>
        </label><br/>
        <label>
            price:
            <input type="number" name="price"/>
        </label><br/>
        <label>
            type:
            <input type="text" name="type"/>
        </label><br/>
        <label>
            description:
            <input type="text" name="description"/>
        </label><br/>
        <button type="submit">Add</button>

    </form>
</body>
</html>